@{
    ViewData["Title"] = "Example 1 - All parameters";
}
<h3>@ViewData["Title"]</h3>
<table class="table table-bordered" style="width:500px;">
    <tr>
        <th>param1</th>
        <td>@ViewBag.param1</td>
    </tr>
    <tr>
        <th>param2</th>
        <td>@ViewBag.param2</td>
    </tr>
</table>
